.p-5 {
    background-color: #1E6091;
};

.card-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
};

.btn {
    border-color: #168AAD;
    color: #168AAD;
};

.nav-item {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
};